.wrap {
  flex-grow: 2;
  padding: 1rem;
  p {
    color: #fff;
  }
  pre {
    color: #fff;
    line-height: 1.8rem;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  a {
    color: #3ea6ff;
  }
}
